taipy==3.1.1
langchain==0.2.1
langchain-community==0.2.1
sentence-transformers==3.0.0
faiss-cpu==1.8.0
unstructured==0.14.4
pdfminer.six==20231228
pillow-heif==0.16.0
opencv-python==4.10.0.82
pdf2image==1.17.0
unstructured-inference==0.7.34
pytesseract==0.3.10
unstructured.pytesseract==0.3.12
python-magic-bin==0.4.14